@charset "UTF-8";

// 文字色
$color__main: #ff2a2a;
$color__main-shadow: #7A051C;
$color__sub: #fff;
$color__accent:  #e8e8e8;
$color__img-background: #cccccc;
$color__blowing-background: #e9f1fb;

$color__text: #333;
$color__text-sub: #ff2a2a;
$color__text-button: #fff;

// フォントサイズ

$font-size__catch-copy: 2.87rem; // 46px
$font-size__section-title: 2.25rem; // 36px
$font-size__application--large-text: 2rem; // 32px
$font-size__section-sub-title: 1.75rem; // 28px
$font-size__ellipse-button: 1.75rem; // 28px
$font-size__square-button: 1.5rem; // 24px
$font-size__large-text: 1.12rem; // 18px
$font-size__text: 1rem; // 16px
$font-size__footer-li: 0.87rem; // 14px
$font-size__small-text: 0.75rem;  // 12px
$font-size__copy-right: 0.62rem; // 10px

$font-size__sp-catch-copy: 1.75rem; // 28px
$font-size__sp-section-title: 1.75rem; // 28px
$font-size__sp-section-sub-title: 1.5rem; // 24px
$font-size__sp-application--large-text: 1.5rem; //24px
$font-size__sp-ellipse-button: 1.5rem; // 24px
$font-size__sp-large-text: 1.12rem; // 18px
$font-size__sp-text: 1rem; // 16px
$font-size__sp-footer-text: 0.9rem; // 15px
$font-size__sp-small-text: 0.75rem;  // 12px
$font-size__sp-footer-li: 0.75rem;  // 12px
$font-size__sp-copy-right: 0.62rem; // 10px

